@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <p> start Oragnizing You tasks and stay productive</p>
    <p>Det started by creating your first todo item</p>


    <a class="btn btn-primary" href="/ListItem/CreateView" role="button">Create ToDo item</a>

</div>
B