<h1>Create New TODO List</h1>

<form method ="post" action="/ListItem/Create" >
    <div class="form-group">
        <label for="Name">Your name </label>
        <input type="text" class="form-control" name ="Name" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your name">
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>